# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build folders
dist/
build/

# Cache
.cache/
.parcel-cache/

# Vite files
.vite/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/

# Temporary files
*.tmp
*.temp

# Runtime data
pids
*.pid
*.seed
*.pid.lock